body {
    color: #58532e;
    font-size: 18px;
    line-height: 1.25;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    background-color: #d5d2cf;
    border-radius: 25px;
    border: 5px solid #BFA626;
    color: #403E2B;
    text-align: center;

}

header {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    padding: .5rem;
}

header img {
    margin: 5px;
    border-radius: 25px;
    border: 7px solid #BFA626;
    max-width: 300px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
font-size: 1.1em;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}

footer p {
    font-size: .75em;
    color: #8C884F;
}

a:link {
    color: #8C884F;
}

a:visited {
    color: #403E2B;
}