body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto;
    max-width: 1000px;
}

header,
footer {
    background-color: #FFFfff;
    color: #000e26;
    text-align: center;
    padding: 15px;
}

main {
 margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#02dfdb;
    overflow: hidden;
}

nav ul li a {
	display: block;
	color: #000e26;
    text-align: center;
    text-decoration: none;
    font-size: 0.95rem;
	padding: 0.75rem;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color:#000e26;
}

h2 {
    color:#000e26;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;

}

h3,
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .8em;
}

p {
    font-family: 'Open Sans', sans-serif;
}

main img {
    float: none;
    max-width: 300px;
}

.siteTitle {
    font-size: 3rem;
}

.title {
    background-color: #FFF6F4;
}

.mainTitle {
    text-align: center;
    border-bottom:2px solid #b2cb00;
}

table {
    max-width: 600px;
    margin: 0 auto;
}



