table,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}

table{
  width:100%;
  text-align: center;
 
}

.dark{
  background-color: #036CAD;
  color:#f0f0f0;
}
.medium{
  background-color: #0597f2;
}

.light{
  background-color: #92BDE8;
}

.litTeal {
  background-color: #02DFDB;
}

.medTeal {
  background-color: #02C09D;
}

.drkTeal {
  background-color: #05A394;
}
tr:nth-child(1) {
  background-color: #B2CB00;
}

tr:nth-child(3) {
  background-color: #FA9702;
}

tr:nth-child(5) {
  background-color: #FF4C91;
  color:#F0F0F0;
}

tr:nth-child(6) {
  background-color:#000e26;
  color:#f0f0f0;
}
tr:nth-child(7) {
  background-color:#FFF6F4;
}
tr:nth-child(8) {
  background-color:#FFFFFF;
}

