@media only screen and (min-width: 1024px) {
    nav ul li a {
        padding: .6rem 1rem;
    }

    .grid1{
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    }

    .imgBox:hover {
        box-shadow: 5px 5px 5px grey;
    }
}