* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto;
    padding: 0;
    float: none;
    color: #000e26;
    background-color: #ffffff;
}

header,
footer {
    padding: 15px;
    border-bottom: 5px solid #036cad;
}

/*------ TEXT FORMATTING ------*/
.pageTitle{
    font-size:2.5rem;
    text-align: center;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #000e26;
}

h2,
thead,
#typeHead1,
#typeHead2 {
    color: #000e26;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;

}

h3,
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .8em;
}

p {
    font-family: 'Open Sans', sans-serif;
}
/*------ NAVIGATION ------*/
nav {
    background-color: #02dfdb;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #000e26;
    outline:none;
}

nav ul {
    list-style-type: none;
    max-width: 950px;
    margin: 0 auto;
    padding:0;
}

nav ul li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: .8rem 2%;
    flex: 1 1 100%;
}

nav ul li a {
    color: #000e26;
    text-decoration: none;
    padding: 0.75rem;
    white-space: nowrap;
}

nav ul .active {
    background-color: white;
    border-bottom: 5px solid #02dfdb;
}

nav ul .active a {
    color: #000e26;
    font-size: 1.1rem;
}

nav ul li:hover {
    background-color: #0597F2;
}

nav ul.hide {
    display: none;
}

/*------ HEADER  ------*/
.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr .5fr;
    grid-column-gap: 5px;
    max-width: 1100px;
    margin: 0 auto;
}

.socMedia {
    display: grid;
    grid-column: 3;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
}

.socMedia img {
    max-width: 50px;
    width: 100%;
}

.quickCont {
    display: none;
}

.logo {
    display: grid;
    justify-items: start;
    align-items: center;
}

.logo img {
    max-width: 500px;
    width: 100%;
}

/*------ FOOTER ------*/
.contact {
    display: grid;
    grid-template-rows: .5fr .5fr;
    grid-gap: 1rem;
    max-width: 1100px;
    margin: 0 auto;
}

.contact div {
    text-align: center;
    border: 1px solid #B2CB00;
    padding: 10px 2px;
}

.contact h3 {
    margin: 0;
}

.contact p {
    margin: 0;
}

/*------ HOME PAGE ----*/
/*- current weather -*/
.currWeather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .25fr 1fr;
    justify-content:center;
    text-align: center;
    grid-gap: 10px;
}

.currWeather h2 {
    grid-row: 1;
    grid-column: span 2;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 2rem;
    border-bottom: 5px solid #036cad;
}

.currWeather h4 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.divTHC,
#forecast {
    display: grid;
    grid-template-rows: .25fr .25fr .25fr;
    grid-gap: 10px;
    padding: 10px;
}

.tempHumCon,
.daysF {
    border: 2px solid #b2cb00;
}
/*- weather alert -*/
#alert{
    grid-column: span 3;
    padding:10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    color:white;
    font-weight:bold;
    float: right;
    font-size: 22px;
}

#alert h3,
#alert p {
    margin: 0 auto;
    padding: 2px 0;
} 

/*- forcast -*/
.daysF {
    background-color: #b2cb00;
}

/*- call to action -*/
.cta img {
    width: 100%;
    border-top: 5px solid #036cad;
    border-bottom: 5px solid #036cad;
    margin-top: 7px;
}
.ctaText{
    background:rgba(2, 223, 219, 1);
    border: 3px solid #036cad;
    padding: 10px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.ctaText {
    margin: 0 auto;
    padding: 5px;

}

.ctaText h3 {
    display:none;
}

.ctaText h5 {
    margin: 0;
    padding: 5px;
}

/*- Table -*/

.rentalSum table, th, td {
    border: 1px solid #000e26;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.rentalSum h2{
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 10px;
}
.typeHead {
    background-color:#0597F2;
}

/*------ RENTAL PAGE -------*/
/*- cards -*/
#cards th {
    border-bottom: 2px solid black;
}

.scooters {
    max-width: 300px;
    margin: 10px auto;
    border: 2px solid black;
    border-collapse: collapse;
}

.scooters img {
    width: 100%;
    max-width: 300px;

}
.name {
    background-color:#0597F2;
}

.day {
    border-bottom: 2px solid black;
}

.riders {
    border-top: 2px solid black;
}

/*------ RESERVATION PAGE ------*/
.rentAgree h2 {
    padding: 10px;
    margin: 2px auto;
    text-align: center;
    background-color: #0597F2; 
}

.rentAgree h4 {
    text-align: center;
    padding: 5px;
    margin: 2px auto;
    border-bottom: 2px solid #0597F2;
}

.rentAgree p {
    padding: 5px 1rem;
    margin: 1rem auto;
}

/*-- form -- */
form {
    margin: 5px auto;
    padding: 5px;
    border-top: 2px solid #0597F2;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 1px solid #b2cb00;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    max-width: 550px;
}

legend {
    color: #036CAD;
    font-size: 1.5rem;
    margin: 10px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.1rem;
    color: #036CAD;
    text-align: start;
    padding: .25rem;
}

input,
textarea {
    border: 1px solid #b2cb00;
    border-radius: 5px;
    padding: .5rem;
    margin: .5rem;
    line-height: 45px;
    color: #036CAD;
}

form input:hover{
    border: 3px solid #036cad;
}
form input:required {
    border-left: 5px solid #ff4c91;
}

form input:required:valid {
    border-left: 5px solid #b2cb00;
}

/*------ TOURS PAGE ------*/
.tours {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 5px auto;
    padding: 5px;

}

.tour1,
.tour2,
.tour3 {
    display: grid;
    grid-template-rows: 2fr 1fr;
    border: 1px solid black;
    border-radius: 10px;
}



.tours h2 {
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

.tours p {
    margin: 0;
    padding: 5px 0;
}

.cozHis{
    background-color: rgba(2, 223, 219, .5);
}

.cozHis h2 {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;
}

.cozHis a {
    color: #0597F2;
    display: block;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}

/*------ CONTACT ------*/
.locations {
    margin: 5px auto;
    padding: 5px;
}

.locations iframe {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.locatInfo1,
.locatInfo2 {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0px;
}

.locatInfo {
    text-align: center;
    background-color: rgba(2, 223, 219, .5);
    border-top: 5px solid black;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
}

.locatInfo h2 {
    margin: 0;
    padding: 5px;
}
.locatInfo p {
    margin: 0;
    padding: 5px;
}


/*------ CLEAR FIX ------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}