@media only screen and (min-width:635px) {

    nav button {
        display: none;
    }

    nav ul.hide {
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    nav ul {
        display: flex;
        flex-flow: row nowrap;
        align-content: space-evenly;
        justify-content: space-evenly;
    }

    nav ul li {
        display: flex;
        flex-flow: row nowrap;
        font-size: 1rem;
        padding: 0;
    }

    nav ul li a {
        flex: 1 1 auto;
        border: none;
        padding: .6rem 1rem;
    }

    nav ul li a:hover {
        background-color: rgba(38, 100, 153, 0.4);
        font-weight: 200;
    }

}