html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    margin:0 auto;
    padding:0;
    float: none;
    max-width: 1000px;
}

header,
footer {
    background-color: #266399;
    color: #f0f0f0;
    text-align: center;
    padding: 5px 0;
}

header {

    display: flex;
    align-items: center;
    justify-content: center;

}

header picture img {
    max-width: 125px;
}

section h1 {
    margin:0px;
}

section h3 {
    font-style: italic;
    color:#dae6e6;
    padding:5px;
    margin:0;
}
nav{
    background-color:#dae6e6;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color: #303030;
}

nav ul {
    list-style-type: none;
    padding:0;
    margin:0 auto;
}

nav ul li a{
    display: block;
    color: #303030;
    text-align: center;
    text-decoration: none;
    font-size: 0.95rem;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}

nav ul li .active {
    background-color: rgba(0,0,0,0.2);
    color: #f0f0f0;
}

nav ul.hide {
    display: none;
}

/* main {
    margin:15px;
   } */

.cityName {
    text-align: center;

}

main div {
    background-color: rgba(0,0,0,0.2);
    padding: 10px;
    margin: 5px;
    border: 1px dotted #303030;
    font-style: italic;
}
h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
}

h2 {
    font-family: 'Lora', serif;
    font-weight: 500;

}

h3 {
    font-weight: 200;
    font-size: 1em;
}
h4 {
    font-weight: 400;
}

h5 {
    font-weight: 200;
    font-size: 1em;
}
h6 {
    font-weight: 200;
    font-size: .8em;
}

footer a {
    color: #dae6e6;
}

/*-----Clearfix: Force and Element not to collapse -----*/
.clearfix:after{
    content:"";
    display: table;
    clear: both;
}