@media only screen and (min-width:635px) {

    nav button {
        display: none;
    }

    nav ul.hide {
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    nav ul {
        display: flex;
        flex-flow: row nowrap;
        align-content: space-evenly;
        justify-content: space-evenly;
    }

    nav ul li {
        display: flex;
        flex-flow: row nowrap;
        font-size: 1rem;
        padding: 0;
    }

    nav ul li a {
        flex: 1 1 auto;
        border: none;
        padding: .6rem 1rem;
    }

    nav ul li a:hover {
        background-color: rgba(38, 100, 153, 0.4);
        font-weight: 200;
    }

    /* ------Hero image------ */

    .herodiv {
        margin: 10px auto;
        position: relative;
    }

    .stats {
        position: absolute;
        top: 15px;
        right: 15px;
        background: rgba(242, 211, 119, 0.9);
        border: 1px solid #303030;
        box-shadow: 0 0 30px #303030;
    }

    .stats h2 {
        margin: 5px auto;
        text-decoration: underline;
    }

    .stats p {
        margin: 3px auto;
    }

    /*------ 5 day forcast ------*/
    .forcast {
        margin: 0;
        padding: 0;
    }

    .forColumn {
        display: table;
        width: 95%;
        column-count: 7;
        column-gap: 0;

    }

    .column {
        display: table-cell;
        margin: 0 auto;
        border: 1px solid #303030;
    }

    .forColumn img {
        width: 75%;

    }

    .colHead {
        display: block;
        padding: 5px;
        text-align: center;
    }

    .colTemp {
        display: block;
        padding: 0 5px 5px;
        font-size: 0.8rem;
        text-align: center;
    }

    /*------ Contacts ------*/

    footer {
        flex-flow: row wrap;
        align-content: space-evenly;
        justify-content: space-evenly;
        align-items: space-evenly;
    }

    .contact {
        order: 2;
    }

    .map {
        order: 1;
    }

    .footBar {
        order: 3;
    }


}