@media only screen and (min-width: 635px){
nav button {
    display: none;
}

nav ul.hide {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}

nav ul li {
    font-size: 1rem;
    padding: .4rem 1rem;
    
}

nav ul li a {
    border: none;
    padding: .4rem 1rem;
    
}

 nav ul .active {
     border-bottom: 3px #dae6e6 solid;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
 }

 .fBlock {
     flex-flow: row wrap;
 }

 .contact {
     order: 2;
     margin: 10px;
 }

 .map {
     order: 1;
     margin: 10px;
 }

 /*------ main content------*/

 /*---THIS IS THE STORM CENTER PAGE---*/
/*----Form ----*/
form fieldset {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

form input.submitBtn{
    display:block;
    margin: 0 auto;
}

 /*---THE IS THE MAIN HOME PAGE---*/
.cards section {
    max-width: 600px;
    margin: .5rem auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cards img {
    grid-row: span 5;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
}

  div.cards section:nth-child(even) img{
     grid-column: 2;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 8px;
     border-top-left-radius: 0px;
     border-top-right-radius: 8px;
 }

 div.cards section:nth-child(even) h2 {
     grid-row: 1;
 }
 /* THIS IS THE PRESTON TOWN HOME PAGE---*/
/* ------Hero image------ */

.herodiv {
    margin: 10px auto;
    position: relative;
}

.stats {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(242, 211, 119, 0.9);
    box-shadow: 0 0 30px #303030;
}

.stats h2 {
    margin: 5px auto;
}

.stats p {
    margin: 3px auto;
}

/*------ 5 day forcast ------*/
.forecast {
    display: block;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 0;

}

.forColumn {
    display: table;
    width: 95%;
    max-width: 750px;
    column-count: 5;
    column-gap: 0;

}

.column {
    display: table-cell;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #303030;
    border-right: none;
    background-color: #DAE6E6;
}

.forColumn :nth-child(5) {
    border-right: 2px solid #303030;
}

.forColumn img {
    width: 75%;

}

.colHead {
    display: block;
    text-align: center;
    font-size: 1.2rem;

}

#imgIcon1,
#imgIcon2,
#imgIcon3,
#imgIcon4,
#imgIcon5 {
max-width: 250px;
}

.colTemp {
    display: block;
    font-size: 0.8rem;
    text-align: center;
}

/*------ Article ------*/
.article img {
    float:left;
    max-width: 300px;
}
}