body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 auto;
    max-width: 1000px;
}

header,
footer {
    background-color: #266399;
    color: #f0f0f0;
    text-align: center;
    padding: 15px;
}

header a:link,
footer a:link {
    color: #f17547 ;
}
header a:link,
footer a:visited {
    color: #F2D377;
}

main {
 margin: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #DAE6E6;
    overflow: hidden;
}

nav ul li a {
	display: block;
	color: #303030;
    text-align: center;
    text-decoration: none;
    font-size: 0.95rem;
	padding: 0.75rem;
}

/* h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
} */

h2 {
    font-family: 'Lora', serif;
    font-weight: 500;

}

h3,
h4 {
    font-weight: 400;
}

h5 {
    font-weight: 200;
    font-size: 1em;
}
h6 {
    font-weight: 200;
    font-size: .8em;
}

main img {
    float: none;
    max-width: 300px;
}

.title {
    border-bottom:2px solid #266399;
}

